<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.Hertkorn.SetPowerScheme.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Com.Hertkorn.SetPowerScheme.Properties.Settings>
            <setting name="CHECK_INTERVAL_IN_SECONDS" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DEFAULT_POWER_SCHEME_GUID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="RUN_AS_DAEMON" serializeAs="String">
                <value>False</value>
            </setting>
        </Com.Hertkorn.SetPowerScheme.Properties.Settings>
    </applicationSettings>
</configuration>